.bar{
    display: flex;
    background-color: rgb(215, 215, 215);
    width: 60%;
    padding: 15px;
    height: px;
    margin: auto;
    margin-top: 2%;
    font-size: x-large;
    font-weight: 900;
    border-radius: 100px;
    text-align: center;
   
}